section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 50vh;
  width: 70vw;
  padding: 2rem;
}

@media (max-width: 1100px) {
  section {
    width: calc(100vw - 400px); 
  }
}

@media (max-width: 800px) {
  section {
    width: 90vw;
  }
}

h1,
h2,
h3,
h4,
p,
a,
li,
span {
  color: var(--text-color-secondary);
}

#app {
  --background-color: var(--background-color-dark);
  --background-header-color: var(--background-header-color-dark);
  --background-item-color: var(--background-item-color-dark);
  --header-shadow-color: var(--header-shadow-color-dark);

  --text-color-first: var(--text-color-first-dark);
  --text-color-secondary: var(--text-color-secondary-dark);
  --text-color-third: var(--text-color-third-dark);

  --header-btn-border: var(--header-btn-border-dark);
  --header-btn-background: var(--header-btn-background-dark);
  --header-btn-hover: var(--header-btn-hover-dark);
}

.white {
  --background-color: var(--background-color-white) !important;
  --background-header-color: var(--background-header-color-white) !important;
  --background-item-color: var(--background-item-color-white) !important;

  --text-color-first: var(--text-color-first-white) !important;
  --text-color-secondary: var(--text-color-secondary-white) !important;
  --text-color-third: var(--text-color-third-white) !important;

  --header-btn-border: var(--text-color-secondary-white) !important;
  --header-btn-background: var(--background-header-color-white) !important;
}

.text-h1-medium {
  font-size: 60px;
  font-weight: 600;
}

.text-h2-medium {
  font-size: 48px;
  font-weight: 600;
}

.text-h3-medium {
  font-size: 35px;
  font-weight: 600;
}

.text-h4-medium {
  font-size: 28px;
  font-weight: 600;
}

.text-h5-medium {
  font-size: 23px;
  font-weight: 600;
}

.text-base1-medium {
  font-size: 20px;
  font-weight: 600;
}

.text-base2-medium {
  font-size: 16px;
  font-weight: 600;
}
